- expanded = integration_expanded?('floc_')

%section.settings.no-animate#js-floc-settings{ class: ('expanded' if expanded) }
  .settings-header
    %h4
      = s_('FloC|Federated Learning of Cohorts')
    = render Pajamas::ButtonComponent.new(button_options: { class: 'js-settings-toggle' }) do
      = expanded ? _('Collapse') : _('Expand')
    %p
      = s_('FloC|Configure whether you want to participate in FloC.').html_safe
      = link_to sprite_icon('question-o'), 'https://github.com/WICG/floc', target: '_blank', rel: 'noopener noreferrer', class: 'has-tooltip', title: _('More information')

  .settings-content
    = gitlab_ui_form_for @application_setting, url: general_admin_application_settings_path(anchor: 'js-floc-settings'), html: { class: 'fieldset-form', id: 'floc-settings' } do |f|
      = form_errors(@application_setting, pajamas_alert: true)

      %fieldset
        .form-group
          = f.gitlab_ui_checkbox_component :floc_enabled,
          s_('FloC|Enable FloC (Federated Learning of Cohorts)')
      = f.submit _('Save changes'), class: 'gl-button btn btn-confirm'
